$blue-light: #00a99d;
$hover-text-color: #e4e4e4;
$head-text-color: #383838;
$description-color: #8a8a8a;
$description-margin: 10px 0 0 0;
$gutter: 15px;

$breakpoint: 768px; // момент переключения навигационного меню

$sm: 544px; // Small screen / phone
$md: 768px; // Medium screen / tablet
$lg: 992px; // Large screen / desktop
$xl: 1200px; // Extra large screen desktop
$xxl: 1440px; // Wide desktop

// Брендовые цвета
$fb: #3b5998; // facebook
$tw: #55acee; // twitter
$pt: #c8232c; // pinterest
$rss: #ed812b; // rss
$vim: #3f729b; // vimeo
$deva: #4e6252; // devianart
$dribbl: #ea4c89; //dribbble
$linked: #007bb6; //linkedin
$stumbl: #EB4924; //stumbleupon


