.blockquote {
  position: relative;
  background-color: $blue-light;

  &:before {
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%) rotate(45deg);
    background: $head-text-color;
    border-radius: 5px;
  }

  &__row {
    padding-top: 87px;
    padding-bottom: 35px;
  }

  &__item {
    display: inline-block;
    width: 25%;
    height: 160px;
    text-align: center;
  }

  &__author {
    text-align: center;

    &--name {
      display: inline;
      margin: 0;
      padding: 0;
      background-color: #e4e4e4;
      height: 40px;
      border-radius: 5px;
      color: #aaaaaa;
      font-family: "Raleway", Arial , sans-serif;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  &__text {
    margin: 20px 0 0 0;
    text-align: center;

  }

  &__quote {
    margin: 0;
    height: 63px;
    color: #e4e4e4;
    font-family: "Raleway-extralight", Arial , sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;

    &:before {
      content: "\201C";
    }

    &:after {
      content: '\201D';
    }

  }
  &__footer {
    margin-top: 30px;
    text-align: center;
  }

  &__slide {

    &:hover {
      background-color: black;
    }
    &--prev {
      margin-right: 5px;
      height: 30px;
      width: 30px;
    }

    &--next {
      margin-left: 5px;
      height: 30px;
      width: 30px;
      border: none;
      background-color: $head-text-color;

    }
  }
  &__btn {
    width: 12px;
    height: 14px;
  }
}
