.button {
  height: 40px;
  font-weight: 500;
  font-size: 13px;
  border: none;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

.button--white {
  background-color: transparent;
  font-weight: 500;
  text-transform: uppercase;
  &:hover {
    background-color: $blue-light;
    color: whitesmoke;
  }
}