.contact {
  background-color: $blue-light;

  &__head {
    margin: 0;
    color: #e4e4e4;
    font-family: "Raleway", Arial , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
  }

  &__row {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
  }

  &__btn {
    height: 40px;
    background-color: #e4e4e4;
    border: none;
    border-radius: 5px;
    color: #606060;
    font-family: "Raleway", Arial , sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;

    &:first-child {
      margin-right: 10px;
    }
  }
}
