.features {
  position: relative;
  display: flex;
  padding-top: 77px;
  background-color: $head-text-color;
  flex-wrap: wrap;
  flex-direction: column;
  @include before-block;



  &__title {
    margin: 0 auto;
    text-align: center;
  }

  &__head {
    display: inline;
    height: 19px;
    color: #e4e4e4;
    font-family: "Raleway", Arial , sans-serif;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    @include head-after-before;
  }


  &__description {
    margin: $description-margin;
    color: #606060;
    font-family: "Raleway-medium", Arial , sans-serif;
    font-size: 16px;
    font-weight: 500;
  }

  &__wrapper {
    display: flex;
    margin-top: 44px;
    justify-content: space-between;
  }

  &__list {
    width: 32%;
    }

  &__item {
    display: flex;
    margin-top: 50px;
    align-items: center;

    &:not(:first-child) {
      margin-top: 55px;
    }
  }

  &__text {
    display: flex;
    margin-left: 40px;
    text-align: left;
    flex-direction: column;

    &--title {
      display: inline;
      margin: 0px;
      color: #e4e4e4;
      font-family: "Raleway", Arial , sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
    }

    &--description {
      margin-bottom: 0;
      margin-top: 10px;
      color: #7a7a7a;
      font-family: "Raleway-medium", Arial , sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
    }

  }




  &__photo {

    &--image {

    }
  }

}



