.features {
  position: relative;
  display: flex;
  padding-top: 77px;
  background-color: $head-text-color;
  flex-wrap: wrap;
  flex-direction: column;

  &:before {
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    display: block;
    width: 54px;
    height: 54px;
    transform: translate(-50%, -50%) rotate(45deg);
    background: $blue-light;
    border-radius: 2px;
  }

  &__title {
    margin: 0 auto;
    text-align: center;
  }

  &__head {
    display: inline;
    height: 19px;
    color: #e4e4e4;
    font-family: "Raleway", Arial , sans-serif;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    @include head-after-before;
  }


  &__description {
    margin: $description-margin;
    color: #606060;
    font-family: "Raleway-medium", Arial , sans-serif;
    font-size: 16px;
    font-weight: 500;
  }

  &__wrapper {
    display: flex;
    margin-top: 44px;
    justify-content: space-between;
  }

  &__item {
    width: 32%;

    &__wrapper {
      display: flex;
      margin-top: 25px;
      align-items: center;

      &:not(:first-child) {
        margin-top: 50px;
      }

    }

    &__list {
      display: flex;
      margin-left: 40px;
      text-align: left;
      flex-direction: column;

      &__image {
        display: flex;
      }

      &__title {
        display: inline;
        margin: 0px;
        color: #e4e4e4;
        font-family: "Raleway", Arial , sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
      }

      &__description {
        margin-bottom: 0;
        margin-top: 10px;
        color: #7a7a7a;
        font-family: "Raleway-medium", Arial , sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }

  &__photo {

    &__image {

    }
  }
}