.title {
  text-align: center;

&__head {
  @include head-after-before;
  display: inline;
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #383838;

  @media (max-width: $sm) {
    font-size: 20px;
  }

  &--light {
    @include head-after-before;
    display: inline;
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    color: $smoke;
  }

  &--selected {
    height: 19px;
    color: $blue-light;
    font-size: 26px;
    font-weight: 800;
    line-height: 20px;
    text-transform: uppercase;

    @media (max-width: $sm) {
      font-size: 20px;
    }
  }

}

&__subhead {
  margin: $description-margin;
  color: $gray;
  font-size: 16px;
  font-weight: 500;

  @media (max-width: $sm) {
    font-size: 12px;
  }
}
}
