.head {
  display: inline;
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;

  @media (max-width: $sm) {
    font-size: 20px;
  }

}

.subhead {
  margin: $description-margin;
  color: $gray;
  font-size: 16px;
  font-weight: 500;

  @media (max-width: $sm) {
    font-size: 12px;
  }
}