link(rel="stylesheet", type="text/css", href="css/main.css")
link(rel="stylesheet", type="text/css", href="../src/styles/slick/slick.scss")
link(rel="stylesheet", type="text/css", href="../src/styles/slick/slick-theme.scss")
link(rel="stylesheet", type="text/css", href="../src/styles/base/normalize.css")
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
title Startuprr

