.banner
    .container
        .banner__wrapper
            p.banner__preface what are you waiting for ?
            h2.banner__title let’s be creative !
            .banner__description
                p.description__tittle Startuprr,
                    span.description__tittle--uppercase  next generation & highly flexible wordpress theme
            .banner__start
                span.selected START
                h2.start__title  DOING THAT
            a(href='#yakor')
                img.banner__img(src="../images/arow.png", alt="arow")