
section.section--aqua.contact
    .container
        .contact__row.row__flex
            h2.contact__head are you satisfied with unlimited features that we offer?
            .contact__button
                button.contact__btn.button purchase it now
                button.contact__btn.button contact us now
