section.section--dark.facts
    .container
        .row
            .facts__title
                h2.facts__head.head company
                    span.selected  facts
                h3.subhead We do love to work and increase our counter numbers, this is what we’ve done till now

            .facts__item
                include ../components/_fact-item
                +fact-item('218','../images/facts/icon.png','facts ico', 'Completed Projects')
                +fact-item('360','../images/facts/icon2.png','facts ico', 'hours of work / month')
                +fact-item('135','../images/facts/icon3.png','facts ico', 'solved tickets')
                +fact-item('174','../images/facts/icon4.png','facts ico', 'satisfied clients')

