section.section.more-features
    .container
        .row.row__flex
            .more-feature
                img.more-feature__photo(src="../images/more-features/item1.png" alt="Icon")
                .more-feature__text
                    h2.more-feature__head responsive & multipurpose
                    h3.more-feature__subhead Desktops, Tablets & Phones
                    p.more-feature__description Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.

            .more-feature
                img.more-feature__photo(src="../images/more-features/item3.png" alt="Icon")
                .more-feature__text
                    h2.more-feature__head easy customization
                    h3.more-feature__subhead One Click Demo Content Installation
                    p.more-feature__description Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.

            .more-feature
                img.more-feature__photo(src="../images/more-features/item2.png" alt="Icon")
                .more-feature__text
                    h2.more-feature__head unlimited features
                    h3.more-feature__subhead Shortcodes, Typography & Different Layouts
                    p.more-feature__description Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.

            .more-feature
                img.more-feature__photo(src="../images/more-features/item4.png" alt="Icon")
                .more-feature__text
                    h2.more-feature__head clean & modular coding
                    h3.more-feature__subhead 100% Clean, Valid & Well-Commented Coding
                    p.more-feature__description Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.
            .more-feature
                img.more-feature__photo(src="../images/more-features/item5.png" alt="Icon")
                .more-feature__text
                    h2.more-feature__head the best e-commerce solutions
                    h3.more-feature__subhead WooCommerce Fully Integration
                    p.more-feature__description Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.
            .more-feature
                img.more-feature__photo(src="../images/more-features/item6.png" alt="Icon")
                .more-feature__text
                    h2.more-feature__head awesome friendly support
                    h3.more-feature__subhead Free Lifetime Support & Updates
                    p.more-feature__description Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.
