section.section.offer
    .container
        .row
            .offer__title
                h2.offer__head.head what we
                    span.selected  offer
                h3.subhead We offer our customers the best services & solutions, this is our main services list

            .offer__items
                .offer-item
                    .image-wrapper
                        img.offer-item__img(src="../images/offer/icon.png" alt="Icon")
                    h2.offer-item__title responsive & multipurpose
                    p.offer-item__description Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
                    a(href="#").offer-item__more Read More

                .offer-item
                    .image-wrapper
                        img.offer-item__img(src="../images/offer/icon-item2.png" alt="Icon")
                    h2.offer-item__title easy customization
                    p.offer-item__description Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
                    a(href="#").offer-item__more Read More

                .offer-item
                    .image-wrapper
                        img.offer-item__img(src="../images/offer/icon-item3.png" alt="Icon")
                    h2.offer-item__title awesome friendly support
                    p.offer-item__description Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
                    a(href="#").offer-item__more Read More