section.section.price
    .container
        .price__row
            .price__title
                h2.price__head.head real cheap
                    span.prices.selected  prices
                h3.subhead We offer all our services in real low prices in comparison with similar companies
            .price__list
                include ../components/_price-item
                +price-item('Standart Plan','19','99')
                +price-item('Premium Plan','29','99')
                +price-item('Advanced Plan','49','99')
                +price-item('Ultimate Plan','99','99')



