section.section.price
    .container
        .price__row
            .title
                h2.title__head real cheap
                    span.title__head--selected  prices
                h3.title__subhead We offer all our services in real low prices in comparison with similar companies
            .price__list
                include ../components/_price-item
                +price-item('Standart Plan','19','99')
                +price-item('Premium Plan','29','99')
                +price-item('Advanced Plan','49','99')
                +price-item('Ultimate Plan','99','99')



