section.section--dark.skills
    .container
        .row
            .title
                h2.title__head--light our powerful
                    span.title__head--selected  skills
                p.title__subhead We’re good and experienced at different things and areas and we promise about qulity of our works

            section.skills__items
                .skill__wrapper
                    .skill__circle
                        .skill__value 55
                            span.skill__percent %
                        .skill__description web design

                .skill__wrapper
                    .skill__circle
                        .skill__value 92
                            span.skill__percent %
                        .skill__description web design

                .skill__wrapper
                    .skill__circle
                        .skill__value 68
                            span.skill__percent %
                        .skill__description web design

                .skill__wrapper
                    .skill__circle
                        .skill__value 100
                            span.skill__percent %
                        .skill__description web design

                .skill__wrapper
                    .skill__circle
                        .skill__value 83
                            span.skill__percent %
                        .skill__description web design

                .skill__wrapper
                    .skill__circle
                        .skill__value 50
                            span.skill__percent %
                        .skill__description web design