section.section--dark.skills
    .container
        .row
            .skills__title
                h2.skills__head.head our powerful
                    span.selected  skills
                h3.subhead We’re good and experienced at different things and areas and we promise about qulity of our works

            section.skills__items
                .skill__wrapper
                    .skill__circle
                        p.skill__value 55
                            span.skill__percent %
                        .skill__description web design

                .skill__wrapper
                    .skill__circle
                        p.skill__value 92
                            span.skill__percent %
                        .skill__description web design

                .skill__wrapper
                    .skill__circle
                        p.skill__value 68
                            span.skill__percent %
                        .skill__description web design

                .skill__wrapper
                    .skill__circle
                        p.skill__value 100
                            span.skill__percent %
                        .skill__description web design

                .skill__wrapper
                    .skill__circle
                        p.skill__value 83
                            span.skill__percent %
                        .skill__description web design

                .skill__wrapper
                    .skill__circle
                        p.skill__value 50
                            span.skill__percent %
                        .skill__description web design