section.section.team
    .container
        .team__row.row
            .team__title
                .arrow
                    button.team__btn--prev
                        img.btn__img--left(src="../images/blockquote/play-arrow.svg" alt="Icon")
                    button.team__btn--next
                        img.btn__img--right(src="../images/blockquote/play-arrow.svg" alt="Icon")
                .title
                    span.title__head--selected team
                    h2.title__head  members
                    p.title__subhead We’re some creative people with powerful knowledge & awesome skills behind the scene bringing you the bests

            .team__list.team-slider
                include ../components/_team-item
                +team-item("../images/team/team-1.png", "Alexis Simpson", "CEO & Developer", 'e-mail@mail.com', "380969178407")
                +team-item("../images/team/team-2.png", "Steven Cole", "User Interface Designer", 'e-mail@mail.com', "380969178407")
                +team-item("../images/team/team-3.png", "Frank Piener", "Sales Manager", 'e-mail@mail.com', "380969178407")
                +team-item("../images/team/team-4.png", "Ashley Lennon", "IT Specialist", 'e-mail@mail.com', "380969178407")
                +team-item("../images/team/team-1.png", "Alexis Simpson", "CEO & Developer", 'e-mail@mail.com', "380969178407")
                +team-item("../images/team/team-2.png", "Steven Cole", "User Interface Designer", 'e-mail@mail.com', "380969178407")
                +team-item("../images/team/team-3.png", "Frank Piener", "Sales Manager", 'e-mail@mail.com', "380969178407")
                +team-item("../images/team/team-4.png", "Ashley Lennon", "IT Specialist", 'e-mail@mail.com', "380969178407")
