footer.footer
    .footer__row
        .footer__head
            img.footer__logo(src="../images/footer/new-logo.png" alt="Icon")
            .social__wrapper
                ul.social__list
                    a(href="#",title="Facebook")
                        img.social__icon-fb(src="../images/footer/facebook.svg" alt="Icon")
                    a(href="#",title="Twitter")
                        img.social__icon-tw(src="../images/footer/twitter.svg" alt="Icon")
                    a(href="#",title="Pinterest")
                        img.social__icon-pt(src="../images/footer/pinterest.svg" alt="Icon")
                    a(href="#",title="RSS")
                        img.social__icon-rss(src="../images/footer/rss.svg" alt="Icon")
                    a(href="#",title="Vimeo")
                        img.social__icon-vim(src="../images/footer/vimeo.svg" alt="Icon")
                    a(href="#",title="DevianArt")
                        img.social__icon-deva(src="../images/footer/deviantart.svg" alt="Icon")
                    a(href="#",title="Dribble")
                        img.social__icon-dribbl(src="../images/footer/dribbble.svg" alt="Icon")
                    a(href="#",title="Linkedin")
                        img.social__icon-linked(src="../images/footer/linkedin.svg" alt="Icon")
                    a(href="#",title="Stumbleupon")
                        img.social__icon-stumbl(src="../images/footer/stumbleupon.svg" alt="Icon")
        .footer__map
            form.form__container
                input.form__field(type='text', name='firstname', placeholder='Name')
                br
                input.form__field(type='text', name='email', placeholder='Email')
                br
                textarea.form__textarea(placeholder='Ваше сообщение')
                br
                button.form__submit Submit Message
        .footer__copyryght
            h2.footer__copyright-text © 2014 Startuprr, All Rights Reserved.
