footer.footer
    .footer__row
        .footer__head
            img.footer__logo(src="../images/footer/new-logo.png" alt="Icon")
            .footer__social--wrapper
                .footer__social--ico
                    img.footer__social--icon(src="../images/footer/facebook.svg" alt="Icon")
                    img.footer__social--icon(src="../images/footer/twitter.svg" alt="Icon")
                    img.footer__social--icon(src="../images/footer/pinterest.svg" alt="Icon")
                    img.footer__social--icon(src="../images/footer/rss.svg" alt="Icon")
                    img.footer__social--icon(src="../images/footer/vimeo.svg" alt="Icon")
                    img.footer__social--icon(src="../images/footer/deviantart.svg" alt="Icon")
                    img.footer__social--icon(src="../images/footer/dribbble.svg" alt="Icon")
                    img.footer__social--icon(src="../images/footer/linkedin.svg" alt="Icon")
                    img.footer__social--icon(src="../images/footer/stumbleupon.svg" alt="Icon")
        .footer__map
            form.form__container
                .form-title
                    h2
                input.form__field(type='text', name='firstname', placeholder='Name')
                br
                input.form__field(type='text', name='email', placeholder='Email')
                br
                textarea.form__textarea(placeholder='Ваше сообщение')
                br
                .submit-container
                    button.form__submit Submit Message
        .footer__copyryght
            h2.footer__copyright-text © 2014 Startuprr, All Rights Reserved.
