header.header
    .container
        .header__row
            nav.header__logo
                img.header__image(src="../images/header/logo.png" alt="Image Title")
            - var element = ["HOME", "PORTFOLIO", "BLOG", "PAGES", "FEATURES", "MEGA MENU", "CONTACT"];
                ul.header__list
                    for name in element
                        a(href="#").header__list__item= name
            a.header__loop(href="#")
                img.loop--img(src="../images/header/loop.png" alt="Search")