header.header
    .container
        .header__row
            a(name='yakor')
            button.hamburger ☰
            button.cross ˟
            nav.menu
                - var element = ["HOME", "PORTFOLIO", "BLOG", "PAGES", "FEATURES", "MEGA MENU", "CONTACT"];
                    ul.menu__list
                        for name in element
                            a(href='#').menu__link
                                li.menu__item=name

            nav.header__logo
                img.header__image(src="../images/header/logo.png" alt="Image Title")
            - var element = ["HOME", "PORTFOLIO", "BLOG", "PAGES", "FEATURES", "MEGA MENU", "CONTACT"];
                ul.header__list
                    for name in element
                        a(href="#").header__list__item= name

            input(type="input").header__input.header__input--hidden

            a.header__loop(href="#")
                img.loop--img(src="../images/header/loop.png" alt="Search")

                //ul
                //    a(href='#')
                //        li LINK ONE
                //    a(href='#')
                //        li LINK TWO
                //    a(href='#')
                //        li LINK THREE
                //    a(href='#')
                //        li LINK FOUR
                //    a(href='#')
                //        li LINK FIVE


            //nav.header__logo
            //    img.header__image(src="../images/header/logo.png" alt="Image Title")
            // - var element = ["HOME", "PORTFOLIO", "BLOG", "PAGES", "FEATURES", "MEGA MENU", "CONTACT"];
            //     ul.header__list
            //         for name in element
            //             a(href="#").header__list__item= name
            //a.header__loop(href="#")
            //    img.loop--img(src="../images/header/loop.png" alt="Search")