.header {
  position: relative;
  display: flex;
  height: 70px;
  background-color: whitesmoke;
  border-bottom: 1px solid gainsboro;
  align-items: center;
  justify-content: center;


  &__row {
    position: relative;
    display: flex;

    @media (max-width: $lg+30px)  {
      display: flex;
      justify-content: flex-end;
    }

  }
  &__image {
    @media (max-width: $lg+30px)  {
      display: none;
    }
  }

  &__logo {
    display: inline-flex;
    flex-basis: 40%;
    align-items: center;

    @media (max-width: $lg+30px)  {
      display: none;
    }

  }

  &__list {
    display: inline-flex;
    flex-basis: 70%;
    justify-content: space-evenly;
    align-items: center;
    line-height: 45px;
    @media (max-width: $lg+30px)  {
      display: none;
    }

    &__item {
      display: inline-block;
      text-decoration: none;
      color: #606060;
      font-family: "Raleway", Arial, sans-serif;
      font-size: 13px;
      font-weight: 600;
      line-height: 20px;
      text-transform: uppercase;
      padding: 6px;
      border-radius: 2px;

      &:hover {
        background-color: $blue-light;
        color: $smoke;
        transition: all 0.4s;
      }
    }
  }

  &__loop {
    display: flex;
    align-items: center;

    &--img {
      display: inline-block;
    }
    @media (max-width: $lg+30px)  {
      display: none;
    }
  }

  &__input {
    &--hidden {
      display: none;
      height: 100px;
      width: 100px;
    }

    &--visible {
      display: block;
      margin: auto;
      margin-left: 20px;
      margin-right: 10px;
      height: 35px;
      width: 200px;
      border-radius: 2px;
      box-shadow: none;
    }

  }
}

.hamburger {
  background: none;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 5px 15px 0px 15px;
  color: #999;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
  @media (min-width: $lg+30px)  {
    display: none;
  }
}

.cross {
  background: none;
  top: 0px;
  right: 0;
  padding: 7px 15px 0px 15px;
  color: #999;
  border: 0;
  font-size: 3em;
  line-height: 45px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
  @media (min-width: $lg+30px)  {
    display: none;
  }
}

.menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #f1f1f1;
  position: absolute;
  text-align: center;
  font-size: 12px;
  @media (min-width: 769px)  {
    display: none;
  }

  &__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
  }

  &__item{
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: #dddddd 1px solid;
    &:hover {
      display: block;
      background: whitesmoke;
      padding: 15px 0 15px 0;
      border-bottom: #dddddd 1px solid;
    }

  }
  &__link {
    text-decoration: none;
    margin: 0px;
    color: #666;

    &:hover {
      color: #666;
      text-decoration: none;
    }
  }

}
