.clients {

  background-color: $head-text-color;

  &__row {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__item {
    display: inline-block;
    width: 25%;
    height: 160px;
    text-align: center;
  }

  &__image {

    &--logo {
    margin: 0 7px 0 7px;
    }

  }
}

.clients__dots {
  padding: 0;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 15px;
  }

  button {
    background-color: inherit;
    border: none;
  }
}