.features {
  @include before-block;
  position: relative;
  display: flex;
  padding-top: 77px;
  flex-wrap: wrap;
  flex-direction: column;


  &__title {
    margin: 0 auto;
    text-align: center;
  }

  &__head {
    @include head-after-before;
    color: #e4e4e4;


  }

  &__wrapper {
    display: flex;
    margin-top: 44px;
    justify-content: space-between;

    @media (max-width: $sm) {
      margin-top: 0;
    }
  }

  &__list {

  }



  &__photo {
    display: inline-flex;
    align-items: flex-end;

    @media (max-width: 768px) {
      display: none;
    }

    &--image {
      width: 100%;

    }
  }

}


.feature-item {
  display: flex;
  margin-top: 50px;
  align-items: center;

  &:last-child {
    margin-bottom: 55px;
  }

  &:not(:first-child) {
    margin-top: 55px;
  }

  &__text {
    display: flex;
    margin-left: 40px;
    text-align: left;
    flex-direction: column;

    @media (max-width: $sm) {
      margin-left: 20px;
    }

  }
  &__title {
    display: inline;
    margin: 0px;
    color: #e4e4e4;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    @media (max-width: $sm) {
      font-size: 11px;
    }
  }
  &__description {
    max-width: 80%;
    margin-bottom: 0;
    margin-top: 10px;
    color: #7a7a7a;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    @media (max-width: $sm) {
      max-width: 100%;
      font-size: 11px;
    }
  }

}
