.skills {
  @include before-block;
  position: relative;
  padding-top: 77px;
  padding-bottom: 70px;


  &__row {
    margin-right: -15px;
    margin-left: -15px;
  }

  &__title {

    text-align: center;

  }

  &__head {
    @include head-after-before;
    color: #e4e4e4;
    line-height: 30px;
    text-align: center;
  }

  &__selected {
    height: 19px;
    color: $blue-light;
    font-family: "Raleway", Arial , sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__items {
    display: inline-flex;
    width: 100%;
    margin-top: 50px;
    flex-wrap: wrap;
    text-align: center;
  }



}

.skill {

  &__wrapper {

    width: calc(18% - 16px);

    @media (max-width: $lg) {
      width: 33.33%;

      &:nth-last-child(-n+3) {
        margin-top: 30px;
      }
    }

    @media (max-width: $sm) {
      width: calc(50%);

      &:nth-child(3) {
        margin-top: 30px;
      }
    }
  }

  &__circle {
    display: inline-block;
    background-color: inherit;
    width: 120px;
    height: 120px;
    text-align: center;
    font: 40px/100px Times, serif;
    border: 3px solid $blue-light;
    border-right: 3px solid white;
    border-radius: 100px;
  }

  &__value {
    margin: 0;
    color: #e4e4e4;
    font-family: "Raleway", Arial , sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 110px;
    text-transform: uppercase;
  }

  &__percent {
    font-size: 16px;
  }

  &__description {
    margin-top: 24px;
    height: 11px;
    color: $gray;
    font-family: "Raleway", Arial , sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 11px;
    text-transform: uppercase;
  }

}