.team {

  &__row {
    padding-top: 53px;
    padding-bottom: 106px;

    @media (max-width: $sm) {
      padding-top: 20px;
    }
  }

  .arrow {
  }

  &__overlay2 {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 101%;
    width: 100%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s ease;
    background-color: $blue-light;

    &--ico {
      display: inline-flex;
      height: 30px;
      width: 30px;
      border-radius: 5px;
      transform: rotate(-45deg);
      background-color: #e4e4e4;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: black;
      }
    }
    &--img {
      width: 17px;
      height: 14px;
      transform: rotate(45deg);
    }

    &:hover {
      opacity: .8;

    }
  }

  &__title {
    margin: 0 15px;
    text-align: center;
  }

  &__head {
    margin: 0;
    color: $dark;
    line-height: 20px;

  }

  &__list {
    display: flex;
    margin-top: 50px;
    text-align: center;
  }

  &__item {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    width: 25%;
    border: 1px solid #dedede;
    border-radius: 5px;
  }

  &__line {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 2px;
    box-sizing: border-box;
    background: rgb(230, 235, 235);
    border: solid #FFF;
    border-width: 0 .5em 0;
  }

  &__photo {
    position: relative;
    height: 260px;

    &--image {
      width: 100%;
      border-radius: 5px;

      &:hover {
        opacity: 0;
        background-color: $blue-light;
      }
    }

    &--name {
      position: relative;
      display: inline-flex;
      top: -25px;
      margin: 0;
      padding-left: 10px;
      padding-right: 10px;
      height: 40px;
      align-items: center;
      background-color: $blue-light;
      border-radius: 5px;

      color: #e4e4e4;
      font-size: 13px;
      font-weight: 800;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        background-color: $dark;
      }

    }
  }

  &__info {
    margin-top: 30px;

    &--role {
      border-bottom: 1px solid #ebebeb;
      margin: 0;
      padding-bottom: 15px;
      display: inline-block;
      color: #606060;
      font-family: "Raleway-medium", Arial, sans-serif;
      font-size: 12px;
      font-weight: 500;
    }
  }

  &__contact {
    margin-top: 20px;

    &--email {
      margin: 0;
      color: $gray;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      cursor: pointer;

      &:before {
        content: '';
        display: inline-block;
        width: 14px;
        height: 11px;
        margin-right: 10px;
        background-image: url("../../images/team/email.svg");
        background-size: cover;
        background-position-y: bottom;

      }

      &:hover {
        color: $blue-light;
      }

    }

    &--phone {
      margin: 0;
      color: $gray;
      font-size: 16px;
      font-weight: 400;
      line-height: 46px;

      &:before {
        content: '';
        display: inline-block;
        width: 14px;
        height: 11px;
        margin-right: 10px;
        background-image: url("../../images/team/phone.svg");
        background-size: cover;
        background-position-y: bottom;

      }

    }

  }

  &__btn {

    &--next {
      width: 30px;
      height: 30px;
      border: none;
      background-color: $dark;

      &:hover {
        background-color: $blue-light;
      }
    }
    &--prev {
      width: 30px;
      height: 30px;
      border: none;
      background-color: $dark;

      &:hover {
        background-color: $blue-light;
      }
    }
  }
}

.arrow {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 25px;
}

.btn {

  height: 30px;

  @media (max-width: $sm) {
    height: 20px;
  }

  &__img {

    &--left {
      width: 20px;
      height: 25px;
      transform: rotate(-180deg);

    }

    &--right {
      width: 20px;
      height: 25px;

    }
  }
}