@import "base/_grid.scss";
@import "base/_fonts.scss";
@import "helpers/_vars.scss";
@import "helpers/_mixins.scss";
@import "components/_buttons.scss";
@import "components/_header.scss";
@import "partials/_header.scss";
@import "partials/_footer.scss";
@import "pages/banner";
@import "pages/offer";
@import "pages/features";
@import "pages/more-features";
@import "pages/skills";
@import "pages/works";
@import "pages/facts";
@import "pages/contact";
@import "pages/team";
@import "pages/blockquote";
@import "pages/clients";
@import "pages/price";
@import "pages/bubble";

body {
  margin: 0;
  background-color: whitesmoke;
}

*, :after, :before {
  box-sizing: border-box;
}

.slick-list {
  overflow: hidden;
}

.selected {
  height: 19px;
  color: $blue-light;
  font-family: "Raleway", Arial , sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  @media (max-width: $sm) {
    font-size: 20px;
  }
}


