@import "base/_grid.scss";
@import "base/_fonts.scss";
@import "helpers/_vars.scss";
@import "helpers/_mixins.scss";
@import "components/_buttons.scss";
@import "components/_header.scss";
@import "components/_pagination.scss";
@import "partials/_header.scss";
@import "partials/_footer.scss";
@import "pages/banner";
@import "pages/offer";
@import "pages/features";
@import "pages/more-features";
@import "pages/skills";
@import "pages/works";
@import "pages/facts";
@import "pages/contact";
@import "pages/team";
@import "pages/blockquote";
@import "pages/clients";
@import "pages/price";
@import "pages/bubble";

body,html {
  margin: 0;
  font-family: Raleway, Arial , sans-serif;
  font-weight: 400;
}

*, :after, :before {
  box-sizing: border-box;
  transition: all .4s;
}

.section {
  background-color: whitesmoke;

  &--dark {
    background-color: $dark;
  }

  &--aqua {
    background-color: #00a99d;
  }
}

.slick-list {
  overflow: hidden;
}

