@import "base/_fonts.scss";
@import "helpers/color.scss";

*, :after, :before {
  box-sizing: border-box;
}

@mixin row($gutter: $gutter) {
  margin-left: -$gutter;
  margin-right: -$gutter;

  &__flex {
    display: flex;
    flex-wrap: wrap;
  }

}

.row {
  @include row;
}

#prev {
  display: inline-block;
  border: none;
  width: 29px;
  height: 16px;
  background-image: url("../images/team/left-arrow.png");
  background-color: transparent;
}

#next {
  border: none;
  width: 29px;
  height: 16px;
  background-image: url("../images/team/right-arrow.png");
  background-color: transparent;
}

.banner {
  display: flex;
  background-color: gray;
  height: 750px;
  align-items: center;

  &__wrapper {
    text-align: center;
    width: 60%;
  }

  &__preface {
    height: 13px;
    color: $head-text-color;
    font-family: ralewaymedium;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__title {
    margin: 0;
    height: 46px;
    color: $head-text-color;
    font-family: ralewayextrabold;
    font-size: 64px;
    line-height: 46px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
  }

  &__description {
    display: inline-block;
  }

  &__start{
    margin: 10px 0 10px 0;
    line-height: 20px;
  }

}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  //border: 1px solid red;

}

.banner__row {
  margin: 0 auto;
  padding: 1px;
  line-height: 100%;

}

.description__tittle {
  width: 662px;
  padding: 10px;
  background-color: #333333;
  color: white;
  font-family: ralewaymediun;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 13px;
  text-transform: uppercase;
}

/*q*/
.description__tittle:first-letter {
  color: aqua;

}

.start__title:before {
  content: '';
}

.start__title:after {
  content: '';
}

.start {
  margin-top: 50px;

  &__title {
    display: inline;
    height: 19px;
    color: $head-text-color;
    font-family: ralewayextrabold;
    font-size: 26px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
  }
}

.header {
  display: flex;
  height: 100px;
  background-color: whitesmoke;
  align-items: center;
  justify-content: center;

  &__row {
    display: flex;
    height: 76px;
  }

  &__logo {
    padding-top: 15px;
    flex-basis: 400px;
  }

  &__list {
    display: inline-flex;
    flex-basis: 60%;
    justify-content: space-evenly;
    align-items: center;
    line-height: 45px;

    &__item {
      display: inline-block;
      text-decoration: none;
      color: #606060;
      font-family: ralewayextrabold;
      font-size: 13px;
      font-weight: 600;
      line-height: 20px;
      text-transform: uppercase;
      padding: 6px;
      border-radius: 2px;

      &:hover {
        background-color: $blue-light;
        color: $hover-text-color;
        transition: all 0.4s;
      }
    }
  }

  &__loop {

    display: flex;
    align-items: center;

    &--img {
      display: inline-block;
    }

  }
}

.offer {
  display: flex;
  padding-top: 77px;
  padding-bottom: 107px;
  align-items: center;
  justify-content: center;

  &__bg {
    position: relative;
    top: 140px;
    left: 582px;
  }

  &__wrapper {
    width: 40%;
  }

  &__second {
    height: 19px;
    color: $blue-light;
    font-family: ralewayextrabold;
    font-size: 26px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__title {
    text-align: center;
    line-height: 200%;
  }

  &__header {
    display: inline;
    height: 19px;
    color: $head-text-color;
    font-family: ralewayextrabold;
    font-size: 26px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;

  }
  &__descriprion {
    margin: 0;
    color: $description-color;
    font-family: ralewaymedium;
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;

  }

  &__image {
    display: inline-flex;
    height: 100px;
    width: 100px;
    background: grey;
    border: 1px solid #939393;
    border-radius: 150px;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $blue-light;
    }

  }

  &__item {
    text-align: center;
    //margin-right: 15px;
    //margin-left: 15px;

    &__image {

    }

    &__title {
      margin-top: 30px;
      margin-bottom: 0;
      color: #606060;
      font-family: ralewayextrabold;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      text-transform: uppercase;
    }

    &__description {
      margin: 0;
      width: 389px;
      color: #7a7a7a;
      font-family: ralewaymedium;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
    }

    &__more {
      height: 39px;
      background-color: white;
      border-radius: 5px;
      border: 1px solid #dedede;
      color: #606060;
      font-family: ralewayextrabold;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;

      &:hover {
        background-color: $blue-light;
        color: #e3e3e3;
      }
    }
  }

  &__item__list {
    display: flex;
    margin-top: 40px;

  }
}

.features {
  position: relative;
  display: flex;
  padding-top: 77px;
  background-color: $head-text-color;
  flex-wrap: wrap;
  flex-direction: column;

  &:before {
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    display: block;
    width: 54px;
    height: 54px;
    transform: translate(-50%, -50%) rotate(45deg);
    background: $blue-light;
    border-radius: 2px;
  }

  &__title {
    margin: 0 auto;
    text-align: center;
  }

  &__head {
    display: inline;
    height: 19px;
    color: #e4e4e4;
    font-family: ralewayextrabold;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__third {
    height: 19px;
    color: $blue-light;
    font-family: ralewayextrabold;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__description {
    margin: 0;
    color: #606060;
    font-family: ralewaymedium;
    font-size: 16px;
    font-weight: 500;
    line-height: 46px;
  }

  &__wrapper {
    display: flex;
    margin-top: 44px;
    justify-content: space-between;
  }

  &__item {
    width: 32%;

    &__wrapper {
      display: flex;
      margin-top: 25px;
      align-items: center;

      &:not(:first-child) {
        margin-top: 50px;
      }

    }

    &__list {
      display: flex;
      margin-left: 40px;
      text-align: left;
      flex-direction: column;

      &__image {
        display: flex;
      }

      &__title {
        display: inline;
        margin: 0px;
        color: #e4e4e4;
        font-family: ralewayextrabold;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
      }

      &__description {
        margin-bottom: 0;
        margin-top: 10px;
        color: #7a7a7a;
        font-family: ralewaymedium;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }

  &__photo {

    &__image {

    }
  }
}

.more-features {
  display: flex;
  padding-top: 80px;
  padding-bottom: 50px;
  align-items: center;

  &__row {

  }

  &__item {

    &__list {
      display: flex;
      margin-left: 15px;
      margin-right: 15px;
      width: calc(33.33% - 30px);
      align-items: flex-start;

      &:nth-last-child(1){
        margin-top: 44px;
      }
      &:nth-last-child(2){
        margin-top: 44px;
      }
      &:nth-last-child(3){
        margin-top: 44px;
      }

      &__wrapper {
        display: flex;
      }
    }

    &__photo {

    }
    &__head {
      margin: 0;
      color: #606060;
      line-height: 15px;
      font-family: ralewayextrabold;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
    }

    &__subhead {
      margin: 0;
      color: #aaaaaa;
      line-height: 30px;
      font-family: ralewaylight;
      font-size: 12px;
      font-weight: 500;
    }

    &__description {
      margin: 10px 0 0 0;
      height: 62px;
      color: #7a7a7a;
      font-family: ralewaylight;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
    }
  }

  &__text {
   margin-left: 20px;
  }
}

.skills {
  position: relative;
  padding-top: 77px;
  padding-bottom: 40px;
  background-color: $head-text-color;

  &:before {
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    display: block;
    width: 54px;
    height: 54px;
    transform: translate(-50%, -50%) rotate(45deg);
    background: $blue-light;
    border-radius: 2px;
  }

  &__row {
    margin-right: -15px;
    margin-left: -15px;
    height: 260px;
  }

  &__title {

    text-align: center;

  }

  &__head {
    display: inline;
    height: 19px;
    color: #e4e4e4;
    font-family: ralewayextrabold;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  &__selected {
    height: 19px;
    color: $blue-light;
    font-family: ralewayextrabold;
    font-size: 26px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__subhead {
    margin: 0;
    color: #606060;
    font-family: ralewaylight;
    font-size: 16px;
    font-weight: 500;
    line-height: 46px;
  }

  &__item {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;

    &--wrapper {

    }


    &--description {
      margin-top: 14px;
      height: 11px;
      color: $description-color;
      font-family: ralewayextrabold;
      font-size: 14px;
      font-weight: 400;
      line-height: 11px;
      text-transform: uppercase;
    }
  }

  &__item-list {
    display: inline-block;
    background-color: inherit;
    width: 120px;
    height: 120px;
    text-align: center;
    font: 40px/100px Times, serif;
    border: 3px solid $blue-light;
    border-right: 3px solid white;
    border-radius: 100px;
  }
  &__value {
    margin: 0;
    color: #e4e4e4;
    font-family: ralewayextrabold;
    font-size: 30px;
    font-weight: 400;
    line-height: 110px;
    text-transform: uppercase;
  }

  &__percent {
    font-size: 16px;
  }
}

.overlay2 {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: .5s ease;
  background-color: $blue-light;

  &__ico {
    display: inline-flex;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    transform: rotate(-45deg);
    background-color: #e4e4e4;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: black;
    }
  }

  &__img {
    width: 17px;
    height: 14px;
    transform: rotate(45deg);
  }

  &:hover {
    opacity: 1;
  }

}

.overlay {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: .5s ease;
  background-color: $blue-light;

  &__ico {
    text-align: center;
  }

  &__text {
    text-align: center;
  }

  &__head {
    height: 16px;
    color: #e4e4e4;
    font-family: ralewayextrabold;
    font-size: 16px;
    font-weight: 400;
  }

  &__description {
    height: 10px;
    color: #e4e4e4;
    font-family: ralewayextrabold;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
  }

  &:hover {
    opacity: 1;
  }
}

.works {
  display: flex;
  padding-top: 55px;
  padding-bottom: 107px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &__title {
    text-align: center;
  }

  &__head {
    margin: 0;
    color: $head-text-color;
    font-family: ralewayextrabold;
    font-size: 26px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
  }

  &__description {
    margin: 0;
    color: $description-color;
    font-family: ralewayextrabold;
    font-size: 16px;
    font-weight: 500;
    line-height: 66px;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;

    &-list {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      height: 100%;
      border: 1px solid white;
      border-bottom: 0px;
      width: calc(25% - 2px);

      &--img {
        width: 100%;
        max-width: 100%;
      }

    }
  }

  &__more {
    width: 1170px;
    height: 40px;
    margin-top: 51px;
    background-color: $blue-light;
    border-radius: 10px;
    font-family: ralewayextrabold;
    color: #e4e4e4;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.facts {
  position: relative;
  padding-top: 77px;
  background-color: $head-text-color;

  &:before {
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    display: block;
    width: 54px;
    height: 54px;
    transform: translate(-50%, -50%) rotate(45deg);
    background: $blue-light;
    border-radius: 2px;
  }

  &__title {
    text-align: center;
  }

  &__head {
    display: inline;
    color: #e4e4e4;
    font-family: ralewayextrabold;
    font-size: 26px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__description {
    margin: 0;
    color: #606060;
    font-family: ralewayextrabold;
    font-size: 16px;
    font-weight: 500;
    line-height: 46px;
  }

  &__item {
    display: flex;
    padding-top: 40px;
    padding-bottom: 75px;
    text-align: center;
  }

  &__item-list {
    margin-right: 15px;
    margin-left: 15px;
    width: 25%;

  }

  &__number {
    margin: 0;
    color: #e4e4e4;
    font-family: ralewaymedium;
    line-height: 88px;
    font-size: 80px;
    font-weight: 500;
    text-transform: uppercase;

    &:after, &:before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #484848;
      border-radius: 2px;
      transform: rotate(45deg);
      margin-left: 20px;
      margin-bottom: 15px;
    }
    &:before {
      margin-left: 0px;
      margin-right: 20px;
    }
    &:hover {
      opacity: 1;
      &:after, &:before {
        background: $blue-light;
      }
    }

  }

  &__line {
    margin-top: 20px;
    width: 100%;

    &:before {
      content: "";
      position: relative;
      display: inline-block;
      margin-bottom: 4px;
      width: 40%;
      height: 2px;
      vertical-align: middle;
      background: #000;
      background-clip: content-box;
      border-bottom: 1px solid rgba(255, 255, 255, .5);
    }

    &:after {
      content: "";
      position: relative;
      display: inline-block;
      margin-bottom: 4px;
      width: 40%;
      height: 2px;
      vertical-align: middle;
      background: #000;
      background-clip: content-box;
      border-bottom: 1px solid rgba(255, 255, 255, .5);
    }

    &__img {
      margin-left: 2px;
    }
  }

  &__text {
    margin: 0;
    color: #606060;
    font-family: ralewayextrabold;
    font-size: 14px;
    font-weight: 400;
    line-height: 46px;
    text-transform: uppercase;
  }
}

.contact {
  background-color: $blue-light;

  &__head {
    margin: 0;
    color: #e4e4e4;
    font-family: ralewayextrabold;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
  }

  &__row {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
  }

  &__btn {
    height: 40px;
    background-color: #e4e4e4;
    border: none;
    border-radius: 5px;
    color: #606060;
    font-family: ralewayextrabold;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;

    &:first-child {
      margin-right: 10px;
    }
  }
}

.team {

  &__row {
    padding-top: 73px;
    padding-bottom: 106px;
  }

  .arrow {
    display: inline-block;
  }

  &__title {
    text-align: center;
  }

  &__head {
    display: inline;
    margin: 0;
    height: 19px;
    color: $head-text-color;
    font-family: ralewayextrabold;
    font-size: 26px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;

  }

  &__description {
    margin: 0;
    color: $description-color;
    font-family: ralewayextrabold;
    font-size: 16px;
    font-weight: 500;
    line-height: 46px;
  }

  &__list {
    display: flex;
    margin-top: 30px;
    text-align: center;
  }

  &__item {
    margin-right: 15px;
    margin-left: 15px;
    width: 25%;
    border: 1px solid #dedede;
  }

  &__line {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 2px;
    box-sizing: border-box;
    background: rgb(230, 235, 235);
    border: solid #FFF;
    border-width: 0 .5em 0;
  }

  &__photo {
    position: relative;
    height: 260px;

    &--image {
      width: 100%;

      &:hover {
        opacity: 0;
        background-color: $blue-light;
      }
    }

    &--name {
      position: relative;
      display: inline-flex;
      top: -25px;
      margin: 0;
      padding-left: 10px;
      padding-right: 10px;
      height: 40px;
      align-items: center;
      background-color: $blue-light;
      border-radius: 5px;

      color: #e4e4e4;
      font-family: ralewayextrabold;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;

      &:hover {
        background-color: $head-text-color;
      }

    }
  }

  &__info {

    &--role {
      border-bottom: 1px solid #ebebeb;
      margin: 0;
      display: inline-block;
      color: #606060;
      font-family: ralewaymedium;
      font-size: 12px;
      font-weight: 500;
      line-height: 82px;
    }
  }

  &__contact {

    &--email {
      margin: 0;
      color: $description-color;
      font-family: ralewaymedium;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;

      &:hover {
        color: $blue-light;
      }

    }

    &--phone {
      margin: 0;
      color: $description-color;
      font-family: ralewaymedium;
      font-size: 16px;
      font-weight: 500;
      line-height: 46px;
    }

  }
}

.blockquote {
  position: relative;
  background-color: $blue-light;

  &:before {
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    display: block;
    width: 54px;
    height: 54px;
    transform: translate(-50%, -50%) rotate(45deg);
    background: $head-text-color;
    border-radius: 2px;
  }

  &__row {
    padding-top: 87px;
    padding-bottom: 35px;
  }

  &__author {
    text-align: center;

    &--name {
      display: inline;
      margin: 0;
      padding: 0;
      background-color: #e4e4e4;
      height: 35px;
      color: #aaaaaa;
      font-family: ralewayextrabold;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  &__text {
    margin: 0;
    text-align: center;

  }

  &__quote {
    margin-top: 30px;
    height: 63px;
    color: #e4e4e4;
    font-family: ralewaylight;
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;

    &:before {
      content: "\201C";
    }

    &:after {
      content: '\201D';
    }

  }
  &__footer {
    margin-top: 30px;
    text-align: center;
  }

  &__slide {

    &:hover {
      background-color: black;
    }
    &--prev {
      margin-right: 5px;
      height: 30px;
      width: 30px;
    }

    &--next {
      margin-left: 5px;
      height: 30px;
      width: 30px;
      border: none;
      background-color: $head-text-color;

    }
  }
  &__btn {
    width: 12px;
    height: 14px;
  }
}

.clients {

  background-color: $head-text-color;

  &__row {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__item {
    display: inline-block;
    width: 25%;
    height: 160px;
    text-align: center;
  }
}

.price {

  &__row {
    padding: 78px 0 78px 0;
  }

  &__title {
    text-align: center;

  }

  &__number {
    display: inline;
    margin: 0;
    height: 43px;
    color: $head-text-color;
    font-family: ralewayextrabold;
    font-size: 60px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;

    &--sup {
      display: inline-block;
      position: relative;
      top: -10px;
      font-size: 16px;
    }

    &:before {
      content: '';
      background-image: url("../images/dollar.svg");
      background-size: cover;
      background-position-x: -20px;
      width: 10px;
      height: 16px;
    }

    &:after {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 2px;
      background-color: black;
      transform: rotate(45deg);
      position: relative;
      top: -8px;
      left: -14px;
    }
  }

  &__text {
    margin-bottom: 20px;
    margin-top: 20px;
    height: 15px;
    color: $description-color;
    font-family: ralewaylight;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
  }

  &__help {
    margin: 0 20px 0 20px;
    border-bottom: 1px solid #ebebeb;
  }

  &__small {
    display: inline-flex;
    flex-direction: column;
  }

  &__name {
    position: relative;
    display: inline-flex;
    top: -25px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    align-items: center;
    background-color: $head-text-color;
    border-radius: 5px;
    color: #e4e4e4;
    font-family: ralewayextrabold;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;

    &:hover {
      background-color: $blue-light;
    }

  }

  &__head {
    display: inline;
    height: 19px;
    color: $head-text-color;
    font-family: ralewayextrabold;
    font-size: 26px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__description {
    margin: 0;
    color: $description-color;
    font-family: ralewayextrabold;
    font-size: 16px;
    font-weight: 500;
    line-height: 46px;
  }

  &__list {
    margin-top: 70px;

  }

  &__item {
    display: inline-block;
    margin-left: 9px;
    margin-right: 9px;
    border: 1px solid grey;
    height: 428px;

    &--head {
      text-align: center;
    }

    &--description {
      padding: 25px 71px 25px 76px;
      text-align: center;
    }

    &--footer {
      margin: 0 20px 0 20px;
      text-align: center;
      border-top: 1px solid #ebebeb;

    }

    &--btn {
      margin-top: 15%;
      width: 118px;
      height: 39px;
      background-color: $blue-light;
      border: none;
      color: #e4e4e4;
      font-family: ralewayextrabold;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}

.bubble {

  &__row {
    padding: 72px 0 72px 0;
  }

  background-color: gray;

  &__image {
    height: 20px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 40px;

    &--wrapper {
      display: inline-block;
    }

    &--head {
      display: inline;
      height: 26px;
      color: $head-text-color;
      font-family: ralewayextrabold;
      font-size: 26px;
      font-weight: 400;
    }

    span {
      height: 26px;
      color: $head-text-color;
      font-family: ralewayextrabold;
      font-size: 26px;
      font-weight: 400;

    }

    &--btn {
      width: 151px;
      height: 40px;
      padding: 10px;
      border: none;
      background-color: $blue-light;
      color: #e4e4e4;
      font-family: ralewayextrabold;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}

.footer {
  background-color: $head-text-color;

  &__row {
    padding-top: 50px;
    padding-bottom: 21px;
  }

  &__head {
    text-align: center;
  }

  &__social {
    margin-top: 50px;
    padding-bottom: 77px;

    &--wrapper {
      margin: 60px 0 60px 0;
    }
    &--icon {
      padding: 7px;
      margin-right: 10px;
      border: 1px solid #606060;
      border-radius: 5px;
      height: 42px;

      &:hover {
        background-color: $blue-light;
      }

    }

  }
  &__map {
    background-image: url("../images/footer/map.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .form {
    &__container {
      display: inline-block;
      margin-top: 81px;
      margin-left: 136px;
      margin-bottom: 81px;
      background-color: whitesmoke;
      border: 1px solid #85e694;
      border-radius: 8px;
      font-family: 'Helvetica Neue', Helvetica, sans-serif;
      text-decoration: none;
      vertical-align: middle;
      padding: 20px;
      width: 368px;
    }
    &__field {
      border: 1px solid #738777;
      background: #ffffff;
      border-radius: 4px;
      color: #0097bd;
      padding: 8px;
      margin-bottom: 20px;
      width: 320px;
    }

    &__textarea {
      width: 320px;
      height: 120px;
      resize: none;
    }

    &__title {
      margin-bottom: 10px;
      color: #725129;
      text-shadow: #fdf2e4 0 1px 0;
    }
    &__submit {
      width: 320px;
      height: 40px;
      border: none;
      background-color: $blue-light;
      color: #e4e4e4;
      font-family: ralewayextrabold;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  &__copyryght {
    margin-top: 57px;
    text-align: center;
    color: #cccccc;
    font-family: ralewayextrabold;
    font-size: 14px;
    font-weight: 400;

  }
}

.slick-list {
  overflow: hidden;
}

.selected {
  height: 19px;
  color: $blue-light;
  font-family: ralewayextrabold;
  font-size: 26px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

