.blockquote
    .container
        .blockquote__row.row
            .blockquote__author
                button.blockquote__author--name alexis simpson - CEO & Developer
            .blockquote__text
                h2.blockquote__quote Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo consequat magna, id molestie ipsum volutpat quis.
            .blockquote__footer
                button.blockquote__slide--prev
                    img.blockquote__btn(src="../images/blockquote/icon@2x.png" alt="Icon")
                button.blockquote__slide--next
                    img.blockquote__btn(src="../images/blockquote/icon2@2x.png" alt="Icon")
