.blockquote
    .container
        .blockquote__row.row
            .blockquote__list.cycle
                +blockquote__item('Alex Simpson - Developer', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a tincidunt arcu. Etiam et pulvinar neque, eu sollicitudin orci. Maecenas eleifend eros augue, eu aliquam nibh luctus et. Integer tellus libero, tempus id eros nec, convallis pharetra nulla.')
                +blockquote__item('Alex Sempson - Developer 2', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a tincidunt arcu. Etiam et pulvinar neque, eu sollicitudin orci. Maecenas eleifend eros augue, eu aliquam nibh luctus et. Integer tellus libero, tempus id eros nec, convallis pharetra nulla..')
                +blockquote__item('Alex Sumpson - Developer 3', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a tincidunt arcu. Etiam et pulvinar neque, eu sollicitudin orci. Maecenas eleifend eros augue, eu aliquam nibh luctus et. Integer tellus libero, tempus id eros nec, convallis pharetra nulla.')
                +blockquote__item('Alex Sompson - Developer 4', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a tincidunt arcu. Etiam et pulvinar neque, eu sollicitudin orci. Maecenas eleifend eros augue, eu aliquam nibh luctus et. Integer tellus libero, tempus id eros nec, convallis pharetra nulla.')

            .blockquote__footer
                button.blockquote__slide--prev
                    img.blockquote__btn(src="../images/blockquote/icon@2x.png" alt="Icon")
                button.blockquote__slide--next
                    img.blockquote__btn(src="../images/blockquote/icon2@2x.png" alt="Icon")





