.bubble
    .container
        .bubble__row
            .bubble__content
                .bubble__content--wrapper
                    h2.bubble__content--head Unique!
                    span  We Do
                    img.bubble__image(src="../images/valentines.svg" alt="Icon")
                    span  It And Hope You Too
                button.bubble__content--btn.button purchase it now