.clients
    .container
        .clients__row
            .clients__list.cycle2
                +clients__item('../images/clients/clients 1.png','clients', "271px")
                +clients__item('../images/clients/clients 2.png','clients', "271px")
                +clients__item('../images/clients/clients 3.png','clients', "271px")
                +clients__item('../images/clients/clients 4.png','clients', "271px")
                +clients__item('../images/clients/clients 3.png','clients', "271px")
                +clients__item('../images/clients/clients 2.png','clients', "271px")
                +clients__item('../images/clients/clients 1.png','clients', "271px")