.clients
    .container
        .clients__row
            .clients__list.cycle2
                +clients__item
                +clients__item
                +clients__item
                +clients__item
                +clients__item
                +clients__item
                +clients__item