.contact
    .container
        .contact__row.row__flex
            h2.contact__head are you satisfied with unlimited features that we offer?
            .contact__button
                button.contact__btn purchase it now
                button.contact__btn contact us now
