.facts
    .container
        .facts__row.row
            .facts__title
                h2.facts__head company
                    span.selected  facts
                h3.facts__description We do love to work and increase our counter numbers, this is what we’ve done till now

            .facts__item
                .facts__item-list
                    p.facts__number 218
                    .facts__line
                        img.facts__line__img(src="../images/facts/icon.png" alt="Icon")

                    p.facts__text completed projects

                .facts__item-list
                    p.facts__number 360
                    .facts__line
                        img.facts__line__img(src="../images/facts/icon.png" alt="Icon")

                    p.facts__text hours of work / month
                .facts__item-list
                    p.facts__number 135
                    .facts__line
                        img.facts__line__img(src="../images/facts/icon.png" alt="Icon")

                    p.facts__text solved tickets
                .facts__item-list
                    p.facts__number 174
                    .facts__line
                        img.facts__line__img(src="../images/facts/icon.png" alt="Icon")

                    p.facts__text satisfied clients
