.facts
    .container
        .facts__row.row
            .facts__title
                h2.facts__head company
                    span.selected  facts
                h3.facts__description We do love to work and increase our counter numbers, this is what we’ve done till now

            .facts__item
                +facts__item-list('218','../images/facts/icon.png','facts ico', 'Completed Projects')
                +facts__item-list('360','../images/facts/icon2.png','facts ico', 'hours of work / month')
                +facts__item-list('135','../images/facts/icon3.png','facts ico', 'solved tickets')
                +facts__item-list('174','../images/facts/icon4.png','facts ico', 'satisfied clients')

