mixin feature(src, alt, tittle, description)
    .feature-item
        img.feature-item__image(src=src,alt=alt)
        .feature-item__text
            h2.feature-item__title= tittle
            p.feature-item__description= description