.features
    .container
        .features__title
            h2.features__head.head amazing
                span.selected  features
            h3.subhead With unlimited features that we offer, we promise it’s possible to make everything that was impossible for you !

        .features__wrapper
            section.features__list
                +features__item('../images/features/icon.png', 'icon' ,'responsive & multipurpose','Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.')
                +features__item('../images/features/icon-item2.png', 'icon' ,'easy customization','Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.')
                +features__item('../images/features/icon-item3.png', 'icon' ,'unlimited features','Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.')

            .features__photo
                img.features__photo--image(src="../images/features/2tablet.png" alt="Icon")