.features
    .container
        .features__title
            h2.features__head amazing
                span.selected  features
            h3.features__description With unlimited features that we offer, we promise it’s possible to make everything that was impossible for you !

        .features__wrapper
            section.features__item
                .features__item__wrapper
                    img.features__item__list__image(src="../images/features/icon.png" alt="Icon")
                    .features__item__list
                        h2.features__item__list__title responsive & multipurpose
                        h3.features__item__list__description Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.
                .features__item__wrapper
                    img.features__item__list__image(src="../images/features/icon-item2.png" alt="Icon")
                    .features__item__list
                        h2.features__item__list__title easy customization
                        h3.features__item__list__description Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.
                .features__item__wrapper
                    img.features__item__list__image(src="../images/features/icon-item3.png" alt="Icon")
                    .features__item__list
                        h2.features__item__list__title unlimited features
                        h3.features__item__list__description Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.

            .features__photo
                img.features__photo__image(src="../images/features/2tablet.png" alt="Icon")