.more-features
    .container
        .more-features__list.row.row__flex
            .more-features__item
                img.more-features__photo(src="../images/more-features/item1.png" alt="Icon")
                .more-features__text
                    h2.more-features__item--head responsive & multipurpose
                    h3.more-features__item--subhead Desktops, Tablets & Phones
                    p.more-features__item--description Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.

            .more-features__item
                img.more-features__photo(src="../images/more-features/item3.png" alt="Icon")
                .more-features__text
                    h2.more-features__item--head easy customization
                    h3.more-features__item--subhead One Click Demo Content Installation
                    p.more-features__item--description Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.

            .more-features__item
                img.more-features__photo(src="../images/more-features/item2.png" alt="Icon")
                .more-features__text
                    h2.more-features__item--head unlimited features
                    h3.more-features__item--subhead Shortcodes, Typography & Different Layouts
                    p.more-features__item--description Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.

            .more-features__item
                img.more-features__photo(src="../images/more-features/item4.png" alt="Icon")
                .more-features__text
                    h2.more-features__item--head clean & modular coding
                    h3.more-features__item--subhead 100% Clean, Valid & Well-Commented Coding
                    p.more-features__item--description Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.
            .more-features__item
                img.more-features__photo(src="../images/more-features/item5.png" alt="Icon")
                .more-features__text
                    h2.more-features__item--head the best e-commerce solutions
                    h3.more-features__item--subhead WooCommerce Fully Integration
                    p.more-features__item--description Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.
            .more-features__item
                img.more-features__photo(src="../images/more-features/item6.png" alt="Icon")
                .more-features__text
                    h2.more-features__item--head awesome friendly support
                    h3.more-features__item--subhead Free Lifetime Support & Updates
                    p.more-features__item--description Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.
