.offer
    .container
        .row
            .offer__title
                h2.offer__header what we
                    span.selected  offer
                h3.offer__descriprion We offer our customers the best services & solutions, this is our main services list

            section.offer__list
                .offer__item
                    .offer__image
                        img.offer__list--image(src="../images/offer/icon.png" alt="Icon")
                    h2.offer__item--title responsive & multipurpose
                    h3.offer__item--description Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
                    button.offer__item--more Read More

                .offer__item
                    .offer__image
                        img.offer__item__image(src="../images/offer/icon-item2.png" alt="Icon")
                    h2.offer__item--title easy customization
                    h3.offer__item--description Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
                    button.offer__item--more Read More
                .offer__item
                    .offer__image
                        img.offer__item__image(src="../images/offer/icon-item3.png" alt="Icon")
                    h2.offer__item--title awesome friendly support
                    h3.offer__item--description Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
                    button.offer__item--more Read More