.price
    .container
        .price__row
            .price__title
                h2.price__head.head real cheap
                    span.prices.selected  prices
                h3.subhead We offer all our services in real low prices in comparison with similar companies
            .price__list
                +price__item('Standart Plan','19','99')
                +price__item('Premium Plan','29','99')
                +price__item('Advanced Plan','49','99')
                +price__item('Ultimate Plan','99','99')



