.price
    .container
        .price__row
            .price__title
                h2.price__head real cheap
                    span.prices.selected  prices
                h3.price__description We offer all our services in real low prices in comparison with similar companies
            .price__list
                +price__item
                +price__item
                +price__item
                +price__item