.skills
    .container
        .skills__row
            .skills__title
                h2.skills__head our powerful
                    span.selected  skills
                h3.skills__subhead We’re good and experienced at different things and areas and we promise about qulity of our works

            section.skills__item
                .skills__item--wrapper
                    .skills__item-list
                        p.skills__value 55
                            span.skills__percent %
                        .skills__item--description web design

                .skills__item--wrapper
                    .skills__item-list
                        p.skills__value 92
                            span.skills__percent %
                        .skills__item--description web design

                .skills__item--wrapper
                    .skills__item-list
                        p.skills__value 68
                            span.skills__percent %
                        .skills__item--description web design

                .skills__item--wrapper
                    .skills__item-list
                        p.skills__value 100
                            span.skills__percent %
                        .skills__item--description web design

                .skills__item--wrapper
                    .skills__item-list
                        p.skills__value 83
                            span.skills__percent %
                        .skills__item--description web design

                .skills__item--wrapper
                    .skills__item-list
                        p.skills__value 50
                            span.skills__percent %
                        .skills__item--description web design