.team
    .container
        .team__row.row
            .team__title
                .arrow
                    span.selected  team
                    h2.team__head  members
                h3.team__description We’re some creative people with powerful knowledge & awesome skills behind the scene bringing you the bests

            .team__list
                .team__item
                    .team__photo
                        img.team__photo--image(src="../images/team/270x270.png" alt="Icon")
                        .overlay2
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/facebook-logo.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/twitter.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/google-plus.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/vimeo.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/dribble.svg" alt="Icon")

                        p.team__photo--name Alexis Simpson


                    .team__info
                        p.team__info--role CEO & Developer

                        .team__contact
                            p.team__contact--email alextime@gmail.com
                            p.team__contact--phone +380969178407

                .team__item
                    .team__photo
                        img.team__photo--image(src="../images/team/270x270.png" alt="Icon")
                        .overlay2
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/facebook-logo.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/twitter.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/google-plus.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/vimeo.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/dribble.svg" alt="Icon")

                        p.team__photo--name Alexis Simpson
                    .team__info
                        p.team__info--role User Interface Designer

                        .team__contact
                            p.team__contact--email alextime@gmail.com
                            p.team__contact--phone +380969178407

                .team__item
                    .team__photo
                        img.team__photo--image(src="../images/team/270x270.png" alt="Icon")
                        .overlay2
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/facebook-logo.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/twitter.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/google-plus.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/vimeo.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/dribble.svg" alt="Icon")

                        p.team__photo--name Alexis Simpson
                    .team__info
                        p.team__info--role Sales Manager

                        .team__contact
                            p.team__contact--email alextime@gmail.com
                            p.team__contact--phone +380969178407

                .team__item
                    .team__photo
                        img.team__photo--image(src="../images/team/270x270.png" alt="Icon")
                        .overlay2
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/facebook-logo.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/twitter.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/google-plus.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/vimeo.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/dribble.svg" alt="Icon")

                        p.team__photo--name Alexis Simpson

                    .team__info
                        p.team__info--role IT Specialist

                        .team__contact
                            p.team__contact--email alextime@gmail.com
                            p.team__contact--phone +380969178407
