.team
    .container
        .team__row.row
            .team__title
                .arrow
                    button.team__btn--prev
                        img.btn__img--left(src="../images/blockquote/play-arrow.svg" alt="Icon")
                    button.team__btn--next
                        img.btn__img--right(src="../images/blockquote/play-arrow.svg" alt="Icon")
                span.selected  team
                h2.team__head.head  members
                h3.subhead We’re some creative people with powerful knowledge & awesome skills behind the scene bringing you the bests

            .team__list.team-slider
                .team__item
                    .team__photo
                        img.team__photo--image(src="../images/team/team-1.png" alt="Icon")
                        .overlay2
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/facebook-logo.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/twitter.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/google-plus.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/vimeo.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/dribble.svg" alt="Icon")

                        p.team__photo--name Alexis Simpson

                    .team__info
                        p.team__info--role IT Specialist

                        .team__contact
                            p.team__contact--email alextime@gmail.com
                            p.team__contact--phone +380969178407

                .team__item
                    .team__photo
                        img.team__photo--image(src="../images/team/team-2.png" alt="Icon")
                        .overlay2
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/facebook-logo.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/twitter.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/google-plus.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/vimeo.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/dribble.svg" alt="Icon")
                        p.team__photo--name Alexis Simpson

                    .team__info
                        p.team__info--role CEO & Developer

                        .team__contact
                            p.team__contact--email alextime@gmail.com
                            p.team__contact--phone +380969178407

                .team__item
                    .team__photo
                        img.team__photo--image(src="../images/team/team-3.png" alt="Icon")
                        .overlay2
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/facebook-logo.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/twitter.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/google-plus.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/vimeo.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/dribble.svg" alt="Icon")

                        p.team__photo--name Alexis Simpson
                    .team__info
                        p.team__info--role User Interface Designer

                        .team__contact
                            p.team__contact--email alextime@gmail.com
                            p.team__contact--phone +380969178407

                .team__item
                    .team__photo
                        img.team__photo--image(src="../images/team/team-4.png" alt="Icon")
                        .overlay2
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/facebook-logo.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/twitter.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/google-plus.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/vimeo.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/dribble.svg" alt="Icon")

                        p.team__photo--name Alexis Simpson
                    .team__info
                        p.team__info--role Sales Manager

                        .team__contact
                            p.team__contact--email alextime@gmail.com
                            p.team__contact--phone +380969178407

                .team__item
                    .team__photo
                        img.team__photo--image(src="../images/team/team-5.png" alt="Icon")
                        .overlay2
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/facebook-logo.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/twitter.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/google-plus.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/vimeo.svg" alt="Icon")
                            .overlay2__ico
                                img.overlay2__img(src="../images/team/social/dribble.svg" alt="Icon")

                        p.team__photo--name Alexis Simpson

                    .team__info
                        p.team__info--role IT Specialist

                        .team__contact
                            p.team__contact--email alextime@gmail.com
                            p.team__contact--phone +380969178407
