.works
    .works__title
        h2.works__head.head sample works
        h3.subhead Let’s take a look at some of the best of our works here, we love them and hope you too

    section.works__item
        .works__item-list
            img.works__item-list--img(src="../images/work/work 1.png" alt="Icon")
            +overlay
        .works__item-list
            img.works__item-list--img(src="../images/work/work 2.png" alt="Icon")
            +overlay
        .works__item-list
            img.works__item-list--img(src="../images/work/work 3.png" alt="Icon")
            +overlay
        .works__item-list
            img.works__item-list--img(src="../images/work/work 4.png" alt="Icon")
            +overlay
        .works__item-list
            img.works__item-list--img(src="../images/work/work 4.png" alt="Icon")
            +overlay
        .works__item-list
            img.works__item-list--img(src="../images/work/work 3.png" alt="Icon")
            +overlay
        .works__item-list
            img.works__item-list--img(src="../images/work/work 2.png" alt="Icon")
            +overlay
        .works__item-list
            img.works__item-list--img(src="../images/work/work 1.png" alt="Icon")
            +overlay


        // - var x = 12;
        // - for (var i=1; i<=x; i++) {
        // div.works__item-list
        // - }

    button.works__more.button VIEW ALL WORKS