doctype html
html(lang='en')
    head
        include meta/_head
        include mixins/mixins.pug

    body
        include components/_banner.pug
        include partials/_header
        include components/_offer
        include components/_features
        include components/_more-features
        include components/_skills
        include components/_works
        include components/_facts
        include components/_contact
        include components/_team
        include components/_blockquote.pug
        include components/_clients
        include components/_price
        include components/_bubble
        include partials/_footer

        include meta/_scripts






























