doctype html
html
    head
        include meta/_head
        include meta/_scripts
        include mixins/mixins.pug

    body
        include components/_banner.pug
        include partials/_header
        include components/_offer.pug
        include components/_features.pug
        include components/_more-features.pug
        include components/_skills.pug
        include components/_works.pug
        include components/_facts.pug
        include components/_contact.pug
        include components/_team.pug
        include components/_blockquote.pug
        include components/_clients.pug
        include components/_price.pug
        include components/_bubble.pug
        include partials/_footer






























