doctype html
html
    head
        include meta/_head
        include meta/_scripts
        include mixins/mixins.pug


    body
        .banner
            .container
                  .banner__row
                      .banner__wrapper
                            h3.banner__preface what are you waiting for ?
                            h2.banner__title let’s be creative !
                            .banner__description
                                h3.description__tittle Startuprr, next generation & highly flexible wordpress theme
                            .banner__start
                                span.selected START
                                h2.start__title  DOING THAT
                            img.banner__img(src="../images/arow.png", alt="arow")


        header.header
            .container
                .header__row
                    nav.header__logo
                        img.header__image(src="../images/header/logo.png" alt="Image Title")
                    - var element = ["HOME", "PORTFOLIO", "BLOG", "PAGES", "FEATURES", "MEGA MENU", "CONTACT"];
                        ul.header__list
                            for name in element
                                li.header__list__item= name
                    a.header__loop(href="#")
                        img.loop--img(src="../images/header/loop.png" alt="Search")


        .offer
            .container
                .row
                    .offer__title
                        h2.offer__header what we
                        span.selected  offer
                        h3.offer__descriprion We offer our customers the best services & solutions, this is our main services list

                    section.offer__item__list
                        .offer__item
                            .offer__image
                                img.offer__item__image(src="../images/offer/icon.png" alt="Icon")
                            h2.offer__item__title responsive & multipurpose
                            h3.offer__item__description Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
                            button.offer__item__more Read More
                        .offer__item
                            .offer__image
                                img.offer__item__image(src="../images/offer/icon-item2.png" alt="Icon")
                            h2.offer__item__title easy customization
                            h3.offer__item__description Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
                            button.offer__item__more Read More
                        .offer__item
                            .offer__image
                                img.offer__item__image(src="../images/offer/icon-item3.png" alt="Icon")
                            h2.offer__item__title awesome friendly support
                            h3.offer__item__description Proin in magna a ipsum viverra scelerisq enec turp, Nunc vestibulum fringilla accumsan ornare quis.
                            button.offer__item__more Read More

        .features
            .container
                .features__title
                    h2.features__head amazing
                    span.selected  features
                    h3.features__description With unlimited features that we offer, we promise it’s possible to make everything that was impossible for you !

                .features__wrapper
                    section.features__item
                        .features__item__wrapper
                            img.features__item__list__image(src="../images/features/icon.png" alt="Icon")
                            .features__item__list
                                h2.features__item__list__title responsive & multipurpose
                                h3.features__item__list__description Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.
                        .features__item__wrapper
                            img.features__item__list__image(src="../images/features/icon-item2.png" alt="Icon")
                            .features__item__list
                                h2.features__item__list__title easy customization
                                h3.features__item__list__description Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.
                        .features__item__wrapper
                            img.features__item__list__image(src="../images/features/icon-item3.png" alt="Icon")
                            .features__item__list
                                h2.features__item__list__title unlimited features
                                h3.features__item__list__description Proin in magna a ipsum viverra scelerisq enec turp, nunc vestibulum.

                    .features__photo
                        img.features__photo__image(src="../images/features/2tablet.png" alt="Icon")



        .more-features
            .container
                .more-features__row.row.row__flex
                    .more-features__item__list
                        img.more-features__photo(src="../images/more-features/item1.png" alt="Icon")
                        .more-features__text
                            h2.more-features__item__head responsive & multipurpose
                            h3.more-features__item__subhead Desktops, Tablets & Phones
                            p.more-features__item__description Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.

                    .more-features__item__list
                        img.more-features__photo__image(src="../images/more-features/item3.png" alt="Icon")
                        .more-features__text
                            h2.more-features__item__head easy customization
                            h3.more-features__item__subhead One Click Demo Content Installation
                            p.more-features__item__description Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.

                    .more-features__item__list
                        img.more-features__photo__image(src="../images/more-features/item2.png" alt="Icon")
                        .more-features__text
                            h2.more-features__item__head unlimited features
                            h3.more-features__item__subhead Shortcodes, Typography & Different Layouts
                            p.more-features__item__description Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.

                    .more-features__item__list
                        img.more-features__photo__image(src="../images/more-features/item4.png" alt="Icon")
                        .more-features__text
                            h2.more-features__item__head clean & modular coding
                            h3.more-features__item__subhead 100% Clean, Valid & Well-Commented Coding
                            p.more-features__item__description Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.
                    .more-features__item__list
                        img.more-features__photo__image(src="../images/more-features/item5.png" alt="Icon")
                        .more-features__text
                            h2.more-features__item__head the best e-commerce solutions
                            h3.more-features__item__subhead WooCommerce Fully Integration
                            p.more-features__item__description Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.
                    .more-features__item__list
                        img.more-features__photo__image(src="../images/more-features/item6.png" alt="Icon")
                        .more-features__text
                            h2.more-features__item__head awesome friendly support
                            h3.more-features__item__subhead Free Lifetime Support & Updates
                            p.more-features__item__description Proin in magna a ipsum viverra scelerisque eu nec turp, Nunc vestibulum fringilla accumsan. Praesent arcu turpis.

        .skills
            .container
                .skills__row
                    .skills__title
                        h2.skills__head our powerful
                        span.selected  skills
                        h3.skills__subhead We’re good and experienced at different things and areas and we promise about qulity of our works

                    section.skills__item
                        .skills__item--wrapper
                            .skills__item-list
                                p.skills__value 55
                                    span.skills__percent %
                                .skills__item--description web design

                        .skills__item--wrapper
                            .skills__item-list
                                p.skills__value 92
                                    span.skills__percent %
                                .skills__item--description web design

                        .skills__item--wrapper
                            .skills__item-list
                                p.skills__value 68
                                    span.skills__percent %
                                .skills__item--description web design

                        .skills__item--wrapper
                            .skills__item-list
                                p.skills__value 100
                                    span.skills__percent %
                                .skills__item--description web design

                        .skills__item--wrapper
                            .skills__item-list
                                p.skills__value 83
                                    span.skills__percent %
                                .skills__item--description web design

                        .skills__item--wrapper
                            .skills__item-list
                                p.skills__value 50
                                    span.skills__percent %
                                .skills__item--description web design



        .works
            .works__title
                h2.works__head sample works
                h3.works__description Let’s take a look at some of the best of our works here, we love them and hope you too

            section.works__item
                .works__item-list
                    img.works__item-list--img(src="../images/work/317x250.png" alt="Icon")
                    +overlay
                .works__item-list
                    img.works__item-list--img(src="../images/work/317x250.png" alt="Icon")
                    +overlay
                .works__item-list
                    img.works__item-list--img(src="../images/work/317x250.png" alt="Icon")
                    +overlay
                .works__item-list
                    img.works__item-list--img(src="../images/work/317x250.png" alt="Icon")
                    +overlay
                .works__item-list
                    img.works__item-list--img(src="../images/work/317x250.png" alt="Icon")
                    +overlay
                .works__item-list
                    img.works__item-list--img(src="../images/work/317x250.png" alt="Icon")
                    +overlay
                .works__item-list
                    img.works__item-list--img(src="../images/work/317x250.png" alt="Icon")
                    +overlay
                .works__item-list
                    img.works__item-list--img(src="../images/work/317x250.png" alt="Icon")
                    +overlay
                .works__item-list
                    img.works__item-list--img(src="../images/work/317x250.png" alt="Icon")
                    +overlay
                .works__item-list
                    img.works__item-list--img(src="../images/work/317x250.png" alt="Icon")
                    +overlay
                .works__item-list
                    img.works__item-list--img(src="../images/work/317x250.png" alt="Icon")
                    +overlay
                .works__item-list
                    img.works__item-list--img(src="../images/work/317x250.png" alt="Icon")
                    +overlay

                // - var x = 12;
                // - for (var i=1; i<=x; i++) {
                // div.works__item-list
                // - }

            button.works__more VIEW ALL WORKS

        .facts
            .container
                .facts__row.row
                    .facts__title
                        h2.facts__head company
                        span.selected  facts
                        h3.facts__description We do love to work and increase our counter numbers, this is what we’ve done till now

                    .facts__item
                        .facts__item-list
                            p.facts__number 218
                            .facts__line
                                img.facts__line__img(src="../images/facts/icon.png" alt="Icon")

                            p.facts__text completed projects

                        .facts__item-list
                            p.facts__number 360
                            .facts__line
                                img.facts__line__img(src="../images/facts/icon.png" alt="Icon")

                            p.facts__text hours of work / month
                        .facts__item-list
                            p.facts__number 135
                            .facts__line
                                img.facts__line__img(src="../images/facts/icon.png" alt="Icon")

                            p.facts__text solved tickets
                        .facts__item-list
                            p.facts__number 174
                            .facts__line
                                img.facts__line__img(src="../images/facts/icon.png" alt="Icon")

                            p.facts__text satisfied clients

        .contact
            .container
                .contact__row.row__flex
                    h2.contact__head are you satisfied with unlimited features that we offer?
                    .contact__button
                        button.contact__btn purchase it now
                        button.contact__btn contact us now

        .team
            .container
                .team__row.row
                    .team__title
                        .arrow
                            span.selected  team
                            h2.team__head  members
                        h3.team__description We’re some creative people with powerful knowledge & awesome skills behind the scene bringing you the bests

                    .team__list
                        .team__item
                            .team__photo
                                img.team__photo--image(src="../images/team/270x270.png" alt="Icon")
                                .overlay2
                                    .overlay2__ico
                                        img.overlay2__img(src="../images/team/social/facebook-logo.svg" alt="Icon")
                                    .overlay2__ico
                                        img.overlay2__img(src="../images/team/social/twitter.svg" alt="Icon")
                                    .overlay2__ico
                                        img.overlay2__img(src="../images/team/social/google-plus.svg" alt="Icon")
                                    .overlay2__ico
                                        img.overlay2__img(src="../images/team/social/vimeo.svg" alt="Icon")
                                    .overlay2__ico
                                        img.overlay2__img(src="../images/team/social/dribble.svg" alt="Icon")

                                p.team__photo--name Alexis Simpson


                            .team__info
                                p.team__info--role CEO & Developer

                                .team__contact
                                    p.team__contact--email alextime@gmail.com
                                    p.team__contact--phone +380969178407

                        .team__item
                            .team__photo
                                img.team__photo--image(src="../images/team/270x270.png" alt="Icon")
                                .overlay2
                                    .overlay2__ico
                                        img.overlay2__img(src="../images/team/social/facebook-logo.svg" alt="Icon")
                                    .overlay2__ico
                                        img.overlay2__img(src="../images/team/social/twitter.svg" alt="Icon")
                                    .overlay2__ico
                                        img.overlay2__img(src="../images/team/social/google-plus.svg" alt="Icon")
                                    .overlay2__ico
                                        img.overlay2__img(src="../images/team/social/vimeo.svg" alt="Icon")
                                    .overlay2__ico
                                        img.overlay2__img(src="../images/team/social/dribble.svg" alt="Icon")

                                p.team__photo--name Alexis Simpson
                            .team__info
                                p.team__info--role User Interface Designer

                                .team__contact
                                    p.team__contact--email alextime@gmail.com
                                    p.team__contact--phone +380969178407

                        .team__item
                            .team__photo
                                img.team__photo--image(src="../images/team/270x270.png" alt="Icon")
                                .overlay2
                                    .overlay2__ico
                                        img.overlay2__img(src="../images/team/social/facebook-logo.svg" alt="Icon")
                                    .overlay2__ico
                                        img.overlay2__img(src="../images/team/social/twitter.svg" alt="Icon")
                                    .overlay2__ico
                                        img.overlay2__img(src="../images/team/social/google-plus.svg" alt="Icon")
                                    .overlay2__ico
                                        img.overlay2__img(src="../images/team/social/vimeo.svg" alt="Icon")
                                    .overlay2__ico
                                        img.overlay2__img(src="../images/team/social/dribble.svg" alt="Icon")

                                p.team__photo--name Alexis Simpson
                            .team__info
                                p.team__info--role Sales Manager

                                .team__contact
                                    p.team__contact--email alextime@gmail.com
                                    p.team__contact--phone +380969178407

                        .team__item
                            .team__photo
                                 img.team__photo--image(src="../images/team/270x270.png" alt="Icon")
                                 .overlay2
                                     .overlay2__ico
                                         img.overlay2__img(src="../images/team/social/facebook-logo.svg" alt="Icon")
                                     .overlay2__ico
                                         img.overlay2__img(src="../images/team/social/twitter.svg" alt="Icon")
                                     .overlay2__ico
                                         img.overlay2__img(src="../images/team/social/google-plus.svg" alt="Icon")
                                     .overlay2__ico
                                         img.overlay2__img(src="../images/team/social/vimeo.svg" alt="Icon")
                                     .overlay2__ico
                                         img.overlay2__img(src="../images/team/social/dribble.svg" alt="Icon")

                                 p.team__photo--name Alexis Simpson

                            .team__info
                                p.team__info--role IT Specialist

                                .team__contact
                                    p.team__contact--email alextime@gmail.com
                                    p.team__contact--phone +380969178407


        .blockquote
            .container
                .blockquote__row.row
                    .blockquote__author
                        button.blockquote__author--name alexis simpson - CEO & Developer
                    .blockquote__text
                        h2.blockquote__quote Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo consequat magna, id molestie ipsum volutpat quis.
                    .blockquote__footer
                        button.blockquote__slide--prev
                            img.blockquote__btn(src="../images/blockquote/icon@2x.png" alt="Icon")
                        button.blockquote__slide--next
                            img.blockquote__btn(src="../images/blockquote/icon2@2x.png" alt="Icon")


        .clients
            .container
                .clients__row
                    .clients__list.cycle2
                        +clients__item
                        +clients__item
                        +clients__item
                        +clients__item
                        +clients__item
                        +clients__item
                        +clients__item

        .price
            .container
                .price__row
                    .price__title
                        h2.price__head real cheap
                        span.prices.selected  prices
                        h3.price__description We offer all our services in real low prices in comparison with similar companies
                    .price__list
                        +price__item
                        +price__item
                        +price__item
                        +price__item

        .bubble
            .container
                .bubble__row
                    .bubble__content
                        .bubble__content--wrapper
                            h2.bubble__content--head Unique!
                            span  We Do
                            img.bubble__image(src="../images/valentines.svg" alt="Icon")
                            span  It And Hope You Too
                        button.bubble__content--btn purchase it now

        footer.footer
                .footer__row
                    .footer__head
                        img.footer__logo(src="../images/footer/new-logo.png" alt="Icon")
                        .footer__social--wrapper
                            .footer__social--ico
                                img.footer__social--icon(src="../images/footer/facebook.svg" alt="Icon")
                                img.footer__social--icon(src="../images/footer/twitter.svg" alt="Icon")
                                img.footer__social--icon(src="../images/footer/pinterest.svg" alt="Icon")
                                img.footer__social--icon(src="../images/footer/rss.svg" alt="Icon")
                                img.footer__social--icon(src="../images/footer/vimeo.svg" alt="Icon")
                                img.footer__social--icon(src="../images/footer/deviantart.svg" alt="Icon")
                                img.footer__social--icon(src="../images/footer/dribbble.svg" alt="Icon")
                                img.footer__social--icon(src="../images/footer/linkedin.svg" alt="Icon")
                                img.footer__social--icon(src="../images/footer/stumbleupon.svg" alt="Icon")
                    .footer__map
                        form.form__container
                            .form-title
                                h2
                            input.form__field(type='text', name='firstname', placeholder='Name')
                            br
                            input.form__field(type='text', name='email', placeholder='Email')
                            br
                            textarea.form__textarea(placeholder='Ваше сообщение')
                            br
                            .submit-container
                                button.form__submit Submit Message
                    .footer__copyryght
                        h2.footer__copyright-text © 2014 Startuprr, All Rights Reserved.











