mixin overlay
    .overlay
        .overlay__image
            .overlay__ico
                img.overlay__ico--img(src="../images/clip.svg" alt="Icon")
            .overlay__ico
                img.overlay__ico--img(src="../images/search.svg" alt="Icon")
        .overlay__text
            h2.overlay__head Corporate Brochure
            h3.overlay__description Illustration / Print
        .overlay__like
            img.overlay__like--img(src="../images/like.svg" alt="Icon")
            p.overlay__like--nubmer 138



mixin clients__item(clients__src, clients__alt)
    img.clients__image--logo(src=clients__src alt=clients__alt)










